[Unit]
Description="James Keveren's Personal Website"
After=network.target

[Service]
User=personal-website
Type=exec
ExecStart=/usr/local/bin/personal-website
Restart=always
