[Unit]
Description="James Keveren's Personal Website"

[Service]
Type=exec
Environment=PORT=8080
ExecStart=/usr/local/bin/personal-website
Restart=always

[Install]
WantedBy=network.target
